

.responsive {
    width: 100%;
    height: auto;
}
.btn-lg {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: solid;
    cursor:pointer;
    overflow: hidden;
}

p {
    font-size: 35px;
}



body {
    background-image: url("../images/backroungapp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}







.table-email tr.unread, .table-email tr.selected {
  background-color: #EEEEEE;
}
.table-email .media {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.table-email .media-object {
  width: 35px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.table-email .media-meta, .table-email .media-attach {
  font-size: 11px;
  color: #999;
  position: absolute;
  right: 10px;
}
.table-email .media-meta {
  top: 0px;
}

.table-email .media-attach i {
  margin-right: 10px;
}
.table-email .media-attach i:last-child {
  margin-right: 0px;
}
